<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
      		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
	<header class="fixed top-0 left-0 w-full bg-blue-600 text-white shadow-md z-10">
    <div class="flex justify-between items-center max-w-7xl mx-auto px-6 py-4">
        <h1 class="text-2xl font-bold">TryCatch Financial</h1>
        <form th:action="@{/home}">
            <button type="submit"
                    class="bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded-md transition-colors duration-200">
                <i class="fa-slab fa-regular fa-arrow-right"></i>
            </button>
        </form>
    </div>
	</header>
	<main class="flex flex-col items-center justify-center flex-grow pt-28 px-6">

    <div class="bg-white p-10 rounded-xl shadow-lg w-full max-w-md space-y-6">

        <!-- Current Balance -->
        <div class="text-center">
            <h2 class="text-gray-700 text-xl font-semibold mb-2">Current Balance</h2>
            <p class="text-green-600 text-3xl font-bold" th:text="${balance}"></p>
        </div>

        
        <form th:action="@{/transfer}" method="post" class="space-y-4 ">
			
			<div class="py-3">
				<label class="text-gray-700">Transfer To</label>
			    <select name="toId" class="border p-4 rounded w-full" required>
			        <option value="">Select an account</option>
			        <option th:each="bank : ${banks}"
			                th:value="${bank.id}"
			                th:text="${bank.name}">
			        </option>
			    </select>
			</div>
		    
			<div>
				<label class="text-gray-700">Amount</label>
			    <input type="number" name="amount" step="0.01" required
			           class="border p-2 rounded w-full"/>
			</div>
		    
		
		    <button type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 rounded-md transition-colors duration-200">
		        Transfer
		    </button>
		</form>

    </div>

</main>
</body>
</html>